@import url("./reset.css");


:root{
  --clr-text:#262626;
  --clr-bg:#f5f5f5;
  --clr-backfill:#e5e5e5;
  --max-content-width: 800px;
  --min-content-width: 400px;
  --clr-link: #0c0a09;
  --clr-link-hover: #d4d4d4;
  --clr-link-active: #ee7241;
  --font-title: "Playfair", serif;
  --font-body:"Poppins", serif;
  --clr-active-link-hover:#df5017;
  --menu-radius:70px;
  --font-sz:40px;
  --icon-sz:5rem;
}
@media screen and (prefers-color-scheme: light) {
    :root {
      --clr-text:#262626;
    --clr-bg:#f5f5f5;
    --clr-backfill:#e5e5e5;
 
    }
  }
   
  @media screen and (prefers-color-scheme: dark) {
    :root {
      --clr-text:#f5f5f5;
      --clr-bg:#262626;
      --clr-backfill: #404040;
  
      
    }
    
  }
   
 
  
  body {
    transition: all ease 250ms;
  }

/*medium screen */

@media screen and (min-width: 601px) and (max-width: 1000px){
  .front-page-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr));
    

}

header{
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

footer{
display: grid;
grid-template-columns: minmax(150px,30%) 1fr;


.icons{
  display: flex;
  flex-direction: column;
  gap: 0;
}
 
.icons span{
  display: inline-flex;
  align-items: center;
  gap:0;
}
.icons span:after{
  content: attr(data-label);
  font-size: var(--font-body);
  color:var(--clr-text);
}


}



:root{
--icon-sz:3rem;
}
.team-list{
display: grid;
grid-template-columns: repeat(2,1fr);

}
.team-list .card{
display: grid;
width:100%;
margin:auto;
padding: 1em;
justify-content: center;
align-items: center;
grid-template-rows: auto 1fr auto;
grid-template-areas: "avatar"
                      "name"
                     "description ";
}





}


/* large screen*/
@media screen and (min-width: 1001px) {

  .front-page-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 1rem), 1fr));
    gap:1rem;
    padding: 1rem;

}

header{
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

footer{
display: grid;
grid-template-columns: minmax(150px,30%) 1fr;


.icons{
  display: flex;
  flex-direction: column;
  gap: 0;
}
 
.icons span{
  display: inline-flex;
  align-items: center;
  gap:0;
}
.icons span:after{
  content: attr(data-label);
  font-size: var(--font-body);
  color:var(--clr-text);
}


}



:root{
--icon-sz:3rem;
}



.team-list{
display: grid;
grid-template-columns: repeat(2,1fr);

}

.team-list .card{
display: grid;
width:100%;
margin:auto;
padding: 1em;
justify-content: center;
align-items: center;
grid-template-rows: auto 1fr auto;
grid-template-areas: "avatar"
                      "name"
                     "description ";
} 

}

  /* small screen*/

  @media screen and(max-width: 600px){
    header{
      display: flex;
      flex-direction: column;
    }
    .front-page-gallery{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      gap: 1rem;
      padding: 1rem;
    }
    .front-page-gallery img{
     height: auto;
    }
    footer{
      grid-template-columns: 1fr;
      text-align: center;
    }

    .icons{
      display: flex;
      flex-direction: row;
      justify-content: center;
     
    }

    :root{
      --icon-sz:3rem;
    }

    .team-list{
     display: grid;
      grid-template-columns: 1fr;
    }

    .team-list .card{
      display: grid;
      margin: auto;
     gap: 2em;
     
      justify-content: center;
align-items: center;


    }


 
    
  }
  




 